.app{
  width:100%;
  min-height:100vh;
  background:teal;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
#signup,#signin{
  color:white;
  width:300px;
  display:flex;
  flex-direction: column;
  gap:5px;
  background:rgba(255, 255, 255, 0.162);
  padding:20px;
  border-radius: 10px;
  transition:0.3s ease all;
  box-shadow:0 3px 5px rgba(0, 0, 0, 0.09);
}
#signup:hover,#signin:hover{
  transform:translateY(-10px);
}

input,button{
  border:none;
  outline:none;
  padding:10px ;
  border-radius: 10px;
}
button{
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow:0 3px 5px rgba(0, 0, 0, 0.09);

}
input:hover{
  box-shadow:0 0 0 1px rgb(64, 74, 71);
}